<!-- index.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Data Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script>
        function navigateToPage(page) {
            console.log(page);
            // Construct the new URL with the updated page parameter
            const newURL = `?page=${page}`;
            // Use JavaScript to change the URL without a full page reload
            window.location.href = newURL;
        }
    </script>

</head>

<body>
    <div class="header">
        <h1>Codeforces Users [Top list]</h1>
    </div>
    <div class="container">
        <% if (country) { %>
            <h2 class="country-title">
                <%= country %>
            </h2>
            <div class="page">
                <% if (page>1) {%>
                    <button onclick="navigateToPage(<%= +page - 1 %>)">prev</button>
                <% } %>
                <p>page: <%= page %></p>
                <% if (page<totalPage) {%>
                    <button onclick="navigateToPage(<%= +page + 1 %>)">next</button>
                <% } %>
            </div>
            <p>
                Last updated at: <%= updated_at %>
            </p>
            <% } %>
                <table>
                    <tr>
                        <th>Serial</th>
                        <th>Handle</th>
                        <th>Max Rating</th>
                        <th>Participation</th>
                        <th>Registered</th>
                    </tr>
                    <% for (let i=0; i < users.length; i++) { %>
                        <tr>
                            <td>
                                <%= ((page-1)*100 +i + 1) %>
                            </td>
                            <td
                                class="<%= users[i].maxRating < 1200 ? 'newbie' : users[i].maxRating < 1400 ? 'pupil' : users[i].maxRating < 1600 ? 'specialist' : users[i].maxRating < 1900 ? 'expert' : users[i].maxRating < 2100 ? 'cand_master' : users[i].maxRating < 2300 ? 'master' : users[i].maxRating < 2400 ? 'int_master' : 'grandmaster' %>">
                                <a class="user-handle" href="<%= users[i].profileUrl %>" target="_blank"
                                    data-tooltip="<%= users[i].maxRating < 1200 ? 'Newbie' : users[i].maxRating < 1400 ? 'Pupil' : users[i].maxRating < 1600 ? 'Specialist' : users[i].maxRating < 1900 ? 'Expert' : users[i].maxRating < 2100 ? 'Candidate Master' : users[i].maxRating < 2300 ? 'Master' : users[i].maxRating < 2400 ? 'International Master' : 'Grandmaster' %>">

                                    <%= users[i].handle %>
                                </a>
                            </td>
                            <td>
                                <%= users[i].maxRating %>
                            </td>
                            <td>
                                <%= users[i].participation %>
                            </td>
                            <td>
                                <%= users[i].registered %>
                            </td>
                        </tr>
                        <% } %>
                </table>
    </div>
</body>

</html>